/* font size related style  */

  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,800&display=swap');
  
  body{
    font-family: 'Mulish', sans-serif;
    background: #FFF;
    padding:40px 100px 110px 80px ;
    width: 1440px;
    height: 6940px;
  }

/* shared styles  */

.head-2{
    color: #131318;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;

}

  /* menu related style start  */

  .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .uniq-name{
    color:#FF5400 ;
}
.top-site-heading{
    display: flex;
    /* border: 1px solid gold; */
    text-align: center;
    align-items: center;
    gap: 1.8rem;    
}
.top-site-heading h1{
    font-size: 2.25rem;
}

.top-site-heading img{
    width: 100%;  
}
.menu-bar{
    display: flex 
}
.menu-bar a{
    margin-left: 44px;
    text-decoration:none; 
    color: #424247;
}
#menu-btn{
    color:  #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}


  /* menu related style stop  */


  /* banner related style  start */
  .main-banner-sec{

  background-image:url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-color: rgba(19, 19, 24, 0.50);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    align-items: center;
    width: 100%;
    height: 100%;
    
  }
  
.heading-sec{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 6.25rem;
}
.item-description{
color: #FFF;
text-align: center;
font-size:1rem ;
font-weight: 400;
margin-top: 1.5rem;
}
.different{
 border-radius: 8px;
 background: #FFF;
 color: rgba(19, 19, 24, 0.50);
text-align: center;
align-items: center;
font-size: 16px;
font-weight: 400;

padding: 16px;
}
.same{
    border-radius:8px;
    
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 16px;
  ;
    
}
#find-now{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-weight: 1rem;
    font-weight: 700;
    padding: 16px;
}
/* button aria styles  */
.btn-aria{
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    box-shadow:rgba(255, 255, 255, 0) ;
    background: rgba(44, 43, 43, 0.021);
    width: 100%;
    
}

.primary-btn a{
    text-decoration: none;
    color:#fff;

}
.primary-btn{
 
    border-radius: 8px;
    background-color: #FF5400;
    width: 20%;
    text-align: center;
    padding: 25px;
    font-size: 1.5rem;
    font-weight: 800;

}

  /* banner related style  stop */
  /* sec-2 related styles  start */

.section-2{
    display: flex;
    margin-top:6.25rem ;
}
.our-popular{
    margin-right: 6.25rem;
}

  /* sec-2 related styles  stop */

  /* chose your destination start */

  .head-1-2{
    color:#131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
  }
  .item-description-2{
    color: rgba(19, 19, 24, 0.70);
    text-align: center; 
    font-size: 16px;
    font-weight: 400;
   
  }
  .ractanagel-img{
    display: flex;
    margin-top: 48px;
    gap: 1.5rem;
    
  }
  .ract-2{
    margin-left: 140px;
  }
.ractanagel-img img{
  width: 100%;
 
}
.img-title{
  color: #FFF;
  position: absolute;
  margin-top: 120px;
  margin-left: 240px;

}
.img-title-1{
  color: #FFF;
  position: absolute;
  margin-top: 120px;
  margin-left: 860px;
}
.img-div-2{
  display: flex;
  margin-top: 1.5rem;
  gap:1.5rem
}
.img-div-2 h2{

  text-align: center;
  font-size: 28px;
  font-weight: 800;

}
.img-title-2{
  color: #FFF;
position: absolute;
margin-left: 130px;
margin-top: 120px;


}
.img-title-3{
color: #FFF;
position: absolute;
margin-top: 120px;
margin-left:540px;

}
.img-title-4{
color: #FFF;
position: absolute;
margin-top: 120px;
margin-left: 980px;
}
.img-div-3{
  display: flex;
  margin-top: 1.5rem;
  gap: 1.5rem;
}
.img-div-3 h2{
  text-align: center;
  font-size: 28px;
  font-weight: 800;

}
.img-title-5{
  color: #FFF;
  position:absolute;
  margin-top: 120px;
  margin-left: 150px;
}
.img-title-6{
  color: #FFF;
  position:absolute;
  margin-top: 120px;
  margin-left: 760px;
}

  /* chose your destination stop */
